{% extends 'layout.html' %}

{% block contentA %}
<div class="container">
    <div class="row my-5">
        <h2>Get Started</h2>
        <p>Welcome to Paydee's DevBox.</p>
        <br>
        <p>
            Here you'll find all the resources you need to accept VISA and Mastercard card payment on your online store.
            To make your experience better, our team has put together test tools to help you along the integration
            process.
        </p>
    </div>
    <div class="row my-5">

        <h2 id="our-api">Our API</h2>
        <p>We offer low level APIs that you can use to build various card payment acceptance applications. 
            View some of the use cases <a href="/api/use-cases">here</a> or <a href = "mailto: product@paydee.co">contact</a> our team to explore other use cases.</p>
        <br>
        <p>Paydee MPI APIs are built on HTTP POST with <u>JSON</u> or <u>Form Data</u> payload.</p>
        <br>
        <div class="card  border-0">
            <div class="card-body text-center">
                <strong>HTTP POST /end_point</strong>
            </div>
        </div>
        <br>
        <p>Paydee offers the following options to enhance your customer's experience:</p>

        <table class="table table-borderless table-sm mt-4 ml-5">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">End Point</th>
                    <th scope="col">Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><p class="small">hosted_payment_page</p></th>
                    <td><p class="small">HTTPS://<mark>end_point</mark>/mercReq</p></td>
                    <td><p class="small">The checkout page will be rendered by Paydee</p></td>
                </tr>
                <tr>
                    <th scope="row"><p class="small">non-hosted_payment_page</p></th>
                    <td><p class="small">HTTPS://<mark>end_point</mark>/mpReq</p></td>
                    <td><p class="small">Use this to customize the experience of your check out page.</p></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="row my-5">

        <h2 id="environments">Environments</h2>
        <p>We offer 2 environments:</p>
        <br>
        <div class="row ">
            <div class="col-sm-6 d-flex align-items-stretch">
                <div class="card bg-light border-0">
                    <div class="card-body text-center px-5">
                        <h5 class="card-title">Test Environment</h5>
                        <p class="card-text">Code and test drive your application in our Test Environment.</p>
                        
                        <p class="my-4 font-weight-light small"><mark><strong>End Point:</strong> https://devlink.paydee.co</mark></p>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-stretch">
                <div class="card bg-light border-0">
                    <div class="card-body text-center px-5">
                        <h5 class="card-title">Production Environment</h5>
                        <p class="card-text">Go live once you’re ready.</p>

                        <p class="my-4 font-weight-light small"><mark><strong>End Point:</strong> https://link.paydee.co</mark></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <h2 id="test-card">Test Cards</h2>
            <p>Use these test cards to test different scenarios.</p>
            <br>

            <table class="table table-borderless table-sm mt-4 ml-5">
                <tbody>
                    <tr>
                        <td scope="row">
                            <h6>Successful (Frictionless)</h6>
                            <p class='small'>Transaction Status = Y (ARes)</p>
                        </td>
                        <td>

                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="text-end m-2 small">VISA</p>
                                        </td>
                                        <td>
                                            <div class="card bg-light border-0">
                                                <div class="card-body text-center m-0 py-0 px-2 small">
                                                    4100000000000100
                                                </div>
                                            </div>
                                        </td>
                                        <!--td>
                                            <button type="button" class="btn btn-dark btn-sm py-0 my-0 mx-1 small">Copy</button>
                                        </td-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-end m-2 small">Mastercard</p>
                                        </td>
                                        <td>
                                            <div class="card bg-light border-0">
                                                <div class="card-body text-center m-0 py-0 px-2 small">
                                                    5100000000000107
                                                </div>
                                            </div>
                                        </td>
                                        <!--td>
                                            <button type="button" class="btn btn-dark btn-sm py-0 my-0 mx-1 small">Copy</button>
                                        </td-->
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td scope="row">
                            <h6>Successful (Challenge Flow)</h6>
                            <p class="my-0 py-0 small">Transaction Status = C (ARes)</p>
                            <p class="my-0 py-0 small">Transaction Status = Y (RRes)</p>
                            <p class="my-0 py-0 small"><em> - OTP:123456</em></p>
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="text-end m-2 small">VISA</p>
                                        </td>
                                        <td>
                                            <div class="card bg-light border-0">
                                                <div class="card-body text-center m-0 py-0 px-2 small">
                                                    4100000000005000
                                                </div>
                                            </div>
                                        </td>
                                        <!--td>
                                            <button type="button" class="btn btn-dark btn-sm py-0 my-0 mx-1 small">Copy</button>
                                        </td-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-end m-2 small">Mastercard</p>
                                        </td>
                                        <td>
                                            <div class="card bg-light border-0">
                                                <div class="card-body text-center m-0 py-0 px-2 small">
                                                    5100000000005007
                                                </div>
                                            </div>
                                        </td>
                                        <!--td>
                                            <button type="button" class="btn btn-dark btn-sm py-0 my-0 mx-1 small">Copy</button>
                                        </td-->
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td scope="row">
                            <h6>Failed</h6>
                            <p class="small">Transaction Status = R (ARes)</p>
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="text-end m-2 small">VISA</p>
                                        </td>
                                        <td>
                                            <div class="card bg-light border-0">
                                                <div class="card-body text-center m-0 py-0 px-2 small">
                                                    4100000000300005
                                                </div>
                                            </div>
                                        </td>
                                        <!--td>
                                            <button type="button" class="btn btn-dark btn-sm py-0 my-0 mx-1 small">Copy</button>
                                        </td-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-end m-2 small">Mastercard</p>
                                        </td>
                                        <td>
                                            <div class="card bg-light border-0">
                                                <div class="card-body text-center m-0 py-0 px-2 small">
                                                    5100000000300002
                                                </div>
                                            </div>
                                        </td>
                                        <!--td>
                                            <button type="button" class="btn btn-dark btn-sm py-0 my-0 mx-1 small">Copy</button>
                                        </td-->
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>
{% endblock contentA %}