{% extends 'layout.html' %}

{% block contentA %}
<div class="container">
    <div class="row my-3">
        <h2>Message Type/Transaction Type</h2>
        <p>The 'Transaction Type' in the MPI request informs Paydee’s MPI Server on what the request is.</p>
        <div class="row d-flex justify-content-center m-2">          
            <img class="w-50" src="{{url_for('static', filename='img/Group_56.png')}}">
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="card border-0">
                    <div class="card-body text-left small">
                        <h6>Headers</h6>
                        <small>method: POST<br />
                        content-type: application/x-www-form-urlencoded</p>
                        <h6>Form Data</h6>
                        <small>MPI_TRANS_TYPE: <Message Type></Message></small>
                    </div>
                </div>
            </div>
        </div>    
        <p>The subsequent sections describe the different Transaction Type supported.</p>    
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <h4 id='sales'>SALES</h4>
        <p>
            When the MPI Server receives this Transaction Type it will authenticate the cardholder. During authentication:
        </p>    
        <p class="ml-5">i. Checks the 3DS version the card is enrolled in</p>
        <p class="ml-5">ii. Initiate challenge/frictionless flow</p>
        <p>
            Once, the cardholder is authenticated, MPI will charge the card. All SALES will be automatically settled at the end
            of the day (11pm).
        </p>      
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <h4 id='vsales'>VOID (VSALES)</h4>
        <p>
            Void a SALES transaction. Use Refund for transaction that has been settled.
        </p>        
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <h4 id='refund'>REFUND</h4>
        <p>
            To refund for transaction that has been settled. You may perform partial refund.
        </p>        
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <h4 id='inq'>INQUIRY (INQ)</h4>
        <p>
            This message checks the status of a transaction. Merchants are highly recommended to implement INQ before re-attempting a new SALES when the following occurs:
        </p>    
        <p class="ml-5">i. No response (time out)</p>
        <p class="ml-5">ii. Cardholder closes browser</p>
        <p>The transaction status will be returned in MPI_ERROR_CODE field</p>  

        <table class="mx-5 my-2">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col small text-left">ERROR CODE</th>
                        <th scope="col">CODE DEFINITION</th>
                    </tr>
                </thead>                
                <tr>
                    <td><p class="text-end m-2 small text-left">000</p></td>
                    <td>Transaction Successful</td>
                </tr>
                <tr>
                    <td><p class="text-end m-2 small text-left">001</p></td>
                    <td>Transaction Failed</td>
                </tr>
                <tr>
                    <td><p class="text-end m-2 small text-left">002</p></td>
                    <td>Transaction Was Cancelled</td>
                </tr>
                <tr>
                    <td><p class="text-end m-2 small text-left">003</p></td>
                    <td>Transaction Has Expired (Time Out)</td>
                </tr>  
                <tr>
                    <td><p class="text-end m-2 small text-left">004</p></td>
                    <td>Transaction In Progress</td>
                </tr>                              
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row my-3">
            <h4 id='prerecurr'>PRE/INIT RECURRING (PRERECURR/INITRECURR)</h4>
            <p>
                These 2 transaction types are part of Paydee’s Split Payment API. They are used to initialise Recurring (subscription) Payment. When the MPI Service receives this request, it will authenticate the cardholder. During the authentication:
            </p>    
            <p class="ml-5">i. MPI checks the 3DS version the card is enrolled in</p>
            <p class="ml-5">ii. MPI initiates challenge/frictionless flow</p>
            <table class="mx-5 my-2">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col small text-left">Message Type</th>
                            <th scope="col">Settlement Schedule</th>
                        </tr>
                    </thead>                
                    <tr>
                        <td><p class="text-end m-2 small text-left">PRERECURR</p></td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td><p class="text-end m-2 small text-left">INITRECURR</p></td>
                        <td>Yes (End of the day - 11 p.m.)</td>
                    </tr>                            
                </tbody>
            </table>
            <p>The cardholder will receive notification from the Issuing Bank that RM1.00 (or another amount set by the merchant) has been charged on his/her card.</p>
            <p>The RM1.00 will be returned to the cardholder if the message type is PRERECURR because the transaction will not be settled.</p>
            <p>Important control parameters for PRERECURR/INITRECURR.</p>
            <table class="mx-5 my-2">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col small text-left">CONTROL</th>
                            <th scope="col">USES</th>
                        </tr>
                    </thead>                
                    <tr>
                        <td><p class="text-end m-2 small text-left">Frequency</p></td>
                        <td>Controls interval between payments (in days)</td>
                    </tr>
                    <tr>
                        <td><p class="text-end m-2 small text-left">Expiry</p></td>
                        <td>Controls when the split payment arrangement shall end</td>
                    </tr>   
                    <tr>
                        <td><p class="text-end m-2 small text-left">Count</p></td>
                        <td>Controls the maximum number of payments</td>
                    </tr>    
                    <tr>
                        <td><p class="text-end m-2 small text-left">Maximum Amount</p></td>
                        <td>Controls the maximum payment amount</td>
                    </tr>    
                    <tr>
                        <td><p class="text-end m-2 small text-left">Total Amount</p></td>
                        <td>Controls the accumulated payment amount</td>
                    </tr>    
                    <tr>
                        <td><p class="text-end m-2 small text-left">Terminate</p></td>
                        <td>Terminates the split payment</td>
                    </tr>                                                                                                      
                </tbody>
            </table>
            <p>These messages should be triggered from the cardholder’s browser.</p>
        </div>
    </div>

    <div class="container">
        <div class="row my-3">
            <h4 id='recurring'>RECURRING</h4>
            <p>
                This recurring event attempts to charge the cardholder for the services they subscribe to at predefined intervals. 
                This should be triggered automatically by the Merchant’s Application Server at the right interval without cardholder intervention. The cardholders might receive a notification from their Issuing Bank that their card has been charged.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row my-3">
            <h4 id='init-installment'>INIT INSTALLMENT (INITINSTL)</h4>
            <p>
                This is part of Paydee’s Split Payment API. Use this transaction type to initiate Installment Payment. Installment
                Payment is prefered if the amount and number of payment (installment) is known.
            </p>
            <p>When the MPI Service receives this request, it will authenticates the cardholder. During the authentication:</p>
            <p class="ml-5">i. MPI checks the 3DS version the card is enrolled in</p>
            <p class="ml-5">ii. MPI initiates challenge/frictionless flow</p>    
            <p>Important control parameters for INITINSTL</p>     
            <table class="mx-5 my-2">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col small text-left">CONTROL</th>
                            <th scope="col">USES</th>
                        </tr>
                    </thead>                
                    <tr>
                        <td><p class="text-end m-2 small text-left">Frequency</p></td>
                        <td>Controls interval between payments (in days)</td>
                    </tr>
                    <tr>
                        <td><p class="text-end m-2 small text-left">Expiry</p></td>
                        <td>Controls when the split payment arrangement shall end</td>
                    </tr>   
                    <tr>
                        <td><p class="text-end m-2 small text-left">Count</p></td>
                        <td>Controls the maximum number of payments</td>
                    </tr>    
                    <tr>
                        <td><p class="text-end m-2 small text-left">Maximum Amount</p></td>
                        <td>Controls the maximum payment amount</td>
                    </tr>    
                    <tr>
                        <td><p class="text-end m-2 small text-left">Total Amount</p></td>
                        <td>Controls the accumulated payment amount</td>
                    </tr>    
                    <tr>
                        <td><p class="text-end m-2 small text-left">Terminate</p></td>
                        <td>Terminates the split payment</td>
                    </tr>                                                                                                      
                </tbody>
            </table>               
        </div>
    </div>

    <div class="container">
        <div class="row my-3">
            <h4 id='installment'>Installment (INSTL)</h4>
            <p>
                This recurring event attempts to charge the cardholder for the agreed installment payment at predefined intervals. 
                This should be triggered automatically by the Merchant’s Application Server at the right interval without cardholder intervention. The cardholders might receive a notification from their Issuing Bank that their card has been charged.
            </p>
        </div>
    </div>    

    <div class="container">
        <div class="row my-3">
            <h4 id='terminate'>TERMINATE</h4>
            <p>
                This terminates an installment payment programme prematurely.
            </p>
        </div>
    </div>  

    <div class="container">
        <div class="row my-3">
            <h4 id='preauth'>PREAUTH</h4>
            <p>
                This transaction type is triggered from the cardholder's browser. It is used when the final amount may not be known in advance. The amount pre-authorised will not be settled immediately. It is primarily used to authenticate the identity of the cardholder and check if the cardholder has sufficient credit to complete the payment later.
            </p>
        </div>
    </div>  

    <div class="container">
        <div class="row my-3">
            <h4 id='sales-complete'>SALES COMPLETE (SALESCOMPL)</h4>
            <p>
                This message is used to finalise the PREAUTH transaction and charge the cardholder with the final amount. If the final amount exceeds the initial PREAUTH amount by 20%, the transaction will be rejected. Therefore, we recommend merchant to: 
            </p>
            <p class="ml-5">i. Track & monitor cardholder spending. Perform a SALESCOMP to complete the transaction and reinitiate another PREAUTH.</p>
            <p class="ml-5">ii. PREAUTH with a pre-agreed amount and any additional incurred amount.</p>              
            <p>The merchant can always SALESCOMPL with an amount that is less than the PREAUTH amount. </p>
        </div>
    </div>      


    <div class="container">
        <div class="row my-3">
            <h2 id="message-table">Message Table</h2>
            <p class=""">Download the message file <a href="/download/DevBox.v2.5.xlsx">here</a> or use the table below to guide you what to pack in the MPI Request message.</p>
            <div class="my-4"></div>
            <div class="my-5 mx-0 p-0">
                </div>
            <table class="p-0 mb-5">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="fit small text-right"></th>
                            <th class="rotated-text" scope="col"><div><span>SALES</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>VSALES<br />(VOID)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>REFUND</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>INQ <br />(Inquiry)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>PRE/INIT RECURR<br />(Initialize Recurring)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>RECURR<br />(Recurring)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>INITINSTL<br />(Initialize Installment)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>INSTL<br />(Installment)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>TERMINATE<br />(Cancel Split Payment)</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>PREAUTH</span></div></th>
                            <th class="rotated-text" scope="col"><div><span>SALESCOMPL<br />(Sales Complete)</span></div></th>
                        </tr>
                    </thead>                
                    <tr>
                        <td class="text-right">MPI_TRANS_TYPE</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>                        
                    </tr>
                    <tr>
                        <td class="text-right">MPI_MERC_ID</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>                        
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_PAN</td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>                        
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                    </tr>      
                    <tr>
                        <td class="text-right">MPI_PAN_EXP</td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>                        
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                    </tr>    
                    <tr>
                        <td class="text-right">MPI_CVV2</td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                    </tr> 
                    <tr>
                        <td class="text-right">MPI_CARD_HOLDER_NAME</td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">C</td>
                        <td class="text-center"></td>
                    </tr>    
                    <tr>
                        <td class="text-right">MPI_PURCH_AMT</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                    </tr>  
                    <tr>
                        <td class="text-right">MPI_PURCH_CURR</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_TRXN_ID</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_ORI_TRXN_ID</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                    </tr>      
                    <tr>
                        <td class="text-right">MPI_PURCH_DATE</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                    </tr> 
                    <tr>
                        <td class="text-right">MPI_ADDR_MATCH</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_CITY</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>    
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_STATE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>  
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_CNTRY</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_POSTCODE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>     
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_LINE1</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>      
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_LINE2</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>
                    <tr>
                        <td class="text-right">MPI_BILL_ADDR_LINE3</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>    
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_CITY</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_STATE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>  
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_CNTRY</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_POSTCODE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>      
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_LINE1</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr> 
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_LINE2</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_SHIP_ADDR_LINE3</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>     
                    <tr>
                        <td class="text-right">MPI_EMAIL</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>      
                    <tr>
                        <td class="text-right">MPI_HOME_PHONE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>     
                    <tr>
                        <td class="text-right">MPI_HOME_PHONE_CC</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr> 
                    <tr>
                        <td class="text-right">MPI_WORK_PHONE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>  
                    <tr>
                        <td class="text-right">MPI_WORK_PHONE_CC</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_MOBILE_PHONE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_MOBILE_PHONE_CC</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>    
                    <tr>
                        <td class="text-right">MPI_RESPONSE_TYPE</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                        <td class="text-center">O</td>
                    </tr>  
                    <tr>                       
                        <td class="text-right">MPI_RECURRING_FREQUENCY</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr> 
                    <tr>                       
                        <td class="text-right">MPI_RECURR_EXPIRY</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>    
                    <tr>                        
                        <td class="text-right">MPI_RECURR_MAX_CNT</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>   
                    <tr>
                        <td class="text-right">MPI_RECURR_MAX_AMT</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>     
                    <tr>
                        <td class="text-right">MPI_RECURR_MAX_TOTAL</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center">M</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>  
                    <tr>
                        <td class="text-right">MPI_MAC</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                        <td class="text-center">M</td>
                    </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                </tbody>
            </table>   
        </div>
    </div>

</div>



{% endblock contentA %}