{% extends 'layout.html' %}

{% block contentA %}
<div class="container">
    <!--div class="row my-5">
        <h2>Use Case</h2>
        <p>Our APIs can be used to enable users to checkout from online stores and offer subscription services.</p>
        <br>
        <p>
            If our API is unable to meet your requirement, <a href="mailto: product@paydee.co">write to us</a>. Our team
            is ready to explore solutions with you.
        </p>
    </div-->

    <!--div class="row my-5">
        <h2 id="sales">Checkout/Sales</h2>
        <p>Add a VISA/Mastercard payment option to your online store. Paydee’s SALES API offers Frictionless Flow
            (*new).
            Click any of the following options to see how these payment pages work.
        </p>
        <br>

        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <iframe src="/nonhosted" height="550" width="350" frameborder="0"></iframe>
            </div>
            <div class="col-sm-6">

                <p class="ml-2 my-0 p-0">Card Holder Name: Test Card</p>
                <p class="ml-2 my-0 p-0">Expiry: 2508</p>
                <p class="ml-2 my-0 p-0">CVV: 123</p>

                <h6 class="ml-0 mt-2">Frictionless Checkout Experience</h6>
                <table class="mx-5 my-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-end m-2 small text-right">VISA</p>
                            </td>
                            <td>
                                <div class="card bg-light border-0">
                                    <div class="card-body text-center m-0 py-0 px-2 small">
                                        4100000000000100
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-end m-2 small text-right">Mastercard</p>
                            </td>
                            <td>
                                <div class="card bg-light border-0">
                                    <div class="card-body text-center m-0 py-0 px-2 small">
                                        5100000000000107
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <h6 class="ml-0 mt-2">Challenge Flow Chekcout Experience</h6>
                <p class="mt-0 pt-0 small"><em>- OTP:123456</em></p>
                <table class="mx-5 my-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-end m-2 small text-right">VISA</p>
                            </td>
                            <td>
                                <div class="card bg-light border-0">
                                    <div class="card-body text-center m-0 py-0 px-2 small">
                                        4100000000005000
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p class="text-end m-2 small text-right">Mastercard</p>
                            </td>
                            <td>
                                <div class="card bg-light border-0">
                                    <div class="card-body text-center m-0 py-0 px-2 small">
                                        5100000000005007
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h6 class="ml-0 mt-2">Failed Checkout Experience</h6>
                <table class="mx-5 my-0">
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-end m-2 small text-right">VISA</p>
                            </td>
                            <td>
                                <div class="card bg-light border-0">
                                    <div class="card-body text-center m-0 py-0 px-2 small">
                                        4100000000300005
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-end m-2 small text-right">Mastercard</p>
                            </td>
                            <td>
                                <div class="card bg-light border-0">
                                    <div class="card-body text-center m-0 py-0 px-2 small">
                                        5100000000300002
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <br>
                <p class="text-italic">Hit refresh to checkout again.</p>
            </div>
        </div-->

    <div class="row my-3">
        <h2 id="message-exchanges">Message Exchanges</h2>
        <p>Your application will be communicating with the MPI by sending MPI requests.</p>

        <div class="row d-flex justify-content-center m-2">
            <img class="w-50" src="{{url_for('static', filename='img/Group_56.png')}}">
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="card border-0">
                    <div class="card-body text-left small">
                        <h6>Headers</h6>
                        <small>method: POST<br />
                            content-type: application/x-www-form-urlencoded</p>
                            <h6>Form Data</h6>
                            <small>MPI_parameter: <Message>Value</Message></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 id="message-flow">Sales Message Flow</h2>
    <p>The handshaking seqeuence to perform Checkout/Sales is depicted below.</p>
    <div class="row d-flex justify-content-center m-2 p-4">
        <div class="col-sm-6">
            <img class="w-100" src="{{url_for('static', filename='img/Group_49.png')}}">
        </div>
        <div class="col-sm-6">

            <table class="table table-borderless table-sm m-4 table-light">
                <thead>
                    <tr>
                        <th scope="col"><small>End Point</small></th>
                        <th scope="col"><small>Information</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><small>/mercReq</small></td>
                        <td><small>The checkout page will be rendered by Paydee</small></td>
                    </tr>
                    <tr>
                        <td><small>/mpReq</small></td>
                        <td><small>Use this to customize the experience of your checkout page.</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h5 class="my-4">Step 1. MPI Key Request</h5>
    <p>This handshake exchanges RSA public keys between your application and the MPI server. 
        The MPI server will make an association between your key with your purchase id (MPI_TRXN_ID).
        Therefore, you should generate a new RSA public key for every new Sales request.  
        Use the table below to guide you what to pack into the MPI Key Request message.</p>
    <table class="mx-5 my-3">
        <tbody>
            <thead>
                <tr>
                    <th scope="col small text-left">PARAMETER</th>
                    <th scope="col">VALUE</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">merchantId</p>
                </td>
                <td>The unique identity code assigned by acquirer bank to the merchant.</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">purchaseId</p>
                </td>
                <td>Unique transaction id.</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">pubKey</p>
                </td>
                <td>Base64URL encoded RSA public key. The key length should be 2048.</td>
            </tr>
        </tbody>
    </table>

    <h5 class="my-4">Step 2. MPI Request - Transaction Type SALES </h5>
    <p>Once the RSA public keys have been exchanged, it is time to execute the SALES request.
        Use the table below to guide you what to pack into the MPI Request message.</p>
    <table class="mx-5 my-3">
        <tbody>
            <thead>
                <tr>
                    <th scope="col small text-left">PARAMETER</th>
                    <th scope="col">VALUE</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_TRANS_TYPE</p>
                </td>
                <td>SALES. You can browse this <a href="/devbox/sales_v2_4">page</a> and peek at other transaction type we supported.</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_MERC_ID</p>
                </td>
                <td>The unique identity code assigned by acquirer bank to the merchant.</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_TRXN_ID</p>
                </td>
                <td>The transaction id used in the earlier MPI Key Exchange message (named as purchaseId).</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_PURCH_DATE</p>
                </td>
                <td>Transaction Timestamp. Format: yyyyMMddHHmmss (24hr format).</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_PURCH_CURR</p>
                </td>
                <td>Transaction currency in ISO 4217 3-digits currency code. Example: MYR = 458</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_PURCH_AMT</p>
                </td>
                <td>Transaction Amount without decimal. The minor unit is implied, based on the transaction currency.
                    For example: USD 100.23 = 10023 JPY 12345 = 12345</td>
            </tr>
            <tr>
                <td>
                    <p class="text-end m-2 small text-left">MPI_MAC</p>
                </td>
                <td>Merchant Transaction MAC. For more information on how to form a good MAC, click <a href="/api/mac-validation"></a>here</a>.</td>
            </tr>
        </tbody>
    </table>

    <p>For simplicity, we encourage our merchants to use hosted-payment page. Let Paydee deals with security and compliances so that you don't have to.

        If you decided to build your own payment page, change the end-point to /mpReq and refer to this <a href="/devbox/sales_v2_4"></a>guide.
        You would need to packed a few more parameters (listed below).
        <ul class="my-2">
            <li>MPI_PAN</li>
            <li>MPI_CARD_HOLDER_NAME</li>
            <li>MPI_PAN_EXP</li>
            <li>MPI_CVV2</li>
        </ul>
    </p>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body text-center px-5 bg-light">
                    <p class="mb-3">
                        The Webservices are documented in Open Specification 3.0. Click the button below to view.
                    </p>
                    <a href="/devbox/sales_v2_4" class="btn btn-dark">Web Services</a>
                    <p class="my-3">
                        <strong>IMPORTANT</strong> 
                        <br>
                        01. Please implement your check-out page in iframe as per EMV 3D Secure 2.0 Specification. 
                        <br>
                        02. Make sure you implement field validation on your fields to reduce payment failure and disappointing user experience. 
                    </p>                        
                </div>
            </div>
        </div>
    </div>  

</div>




</div>
{% endblock contentA %}