{% extends 'layout.html' %}

{% block contentA %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">Change Password</legend>
            
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }} 
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }} 
                {% endif %}
            </div>

        </fieldset>
        <div class="field-group mt-4">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>

</div>
{% endblock contentA %}