{% extends 'layout.html' %}

{% block contentA %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">Forgot Password?</legend>
            <p>We've got you covered.</p>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }} 
                {% endif %}
            </div>

        </fieldset>
        <div class="field-group mt-4">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>

    <br />
    <a class="font-weight-light font-italic" href="/login">Back To Login</a>
</div>
{% endblock contentA %}