{% extends "layout.html" %}

{% block contentA %}


<div class="container">
  <div class="row">


    <div class="col-2">n
      <!-- Side Bar : Should move to the to layout -->
      <br><br><br>

      <form action="/upload_we_test_script" method="POST" enctype="multipart/form-data">
        <p>Save typing. Load your test script. Click <a href="/download/we_test_script.csv">here</a> to download
          sample test script.</p>
        <br><br>
        <button type="submit" class="btn btn-dark mt-1">Load Sript</button>
      </form>
      <br><br><br>
    </div>

    <div class="col ">
      <!-- Main Content  -->
      <div class="card p-4 border-0">


        <h5 class="card-title">Get Started</h5>
        <p class="card-text">Welcome to Paydee's DevBox.
          You'll find resources to help you accept credit on your website.
          Plus, variuos tips from our team that had help many online stores get started. </p>
        <a href="#" class="btn btn-dark align-centre">Create DevBox Account</a>

      </div>

      <div class="row">
        <div class='container m-3'>
          <div class="list-group">

            <a href="/devbox/hosted_mpi_v2_4" class="list-group-item list-group-item-action">Hosted MPI</a>
            <a href="/devbox/nonhosted_mpi_v2_4" class="list-group-item list-group-item-action">Non Hosted MPI</a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


{% endblock %}